In [1]:
import numpy as np
import pandas as pd
import os

Import Dataframe model dan DV

In [2]:
df_model = pd.read_csv('D:/Sinarmas Forestry - Forestry Technology/Automation QC Mounding/Testing QC/05C3002200/label/AE_012_960px_95_xsections.csv',index_col=0)
df_DV = pd.read_csv('D:/Sinarmas Forestry - Forestry Technology/Automation QC Mounding/Testing QC/05C3002200/label/joined xsection with polygon label.csv')
df1_model_amoutOfMounding = pd.read_csv('D:/Sinarmas Forestry - Forestry Technology/Automation QC Mounding/Testing QC/05C3002200/label/polygons.csv',index_col=0)

Cek Jumlah baris perbedaan model dan DV

In [3]:
print("Jumlah baris df model :", df_model.shape[0]) # indexing 0
print("Jumlah baris df DV :", df_DV.shape[0]) # indexing 0

Jumlah baris df model : 4251
Jumlah baris df DV : 4245

In [4]:
df_model.head(2)

,geometry,width,height,xsect_id,0_ps_w,0_ps_h,0_ps_wh
0,LINESTRING (577839.250543423 9695056.416439094...,2.541229,0.779200,0,0,0,0
1,LINESTRING (577839.3485284888 9695061.41623286...,2.563244,0.688931,1,0,0,0

In [5]:
df_DV.tail(10)

,width,height,poly_id,cluster_id,0_ps_w,0_ps_h,0_ps_wh,xsect_id,poly_id_2,areas,angles,apass_1,apass_1p7,cluster_id_2,0_ppct_w,0_ppct_h,0_ppct_wh,0_pass
4235,1.702561,0.262869,111,35,1,0,0,4235,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4236,1.586784,0.136801,111,35,1,0,0,4236,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4237,1.145025,0.209118,111,35,0,0,0,4237,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4238,1.507246,0.183125,111,35,1,0,0,4238,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4239,1.517692,0.176037,111,35,1,0,0,4239,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4240,1.627188,0.288919,111,35,1,0,0,4240,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4241,1.394206,0.362764,111,35,1,0,0,4241,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4242,1.496285,0.143759,111,35,1,0,0,4242,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4243,1.326024,0.188820,111,35,1,0,0,4243,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0
4244,1.490047,0.128185,111,35,1,0,0,4244,111,206.525662,90.0,1,1,35,35.0,10.0,0.0,0

In [6]:
df_DV.drop(['cluster_id',
                #poly_id_2',
                'cluster_id',
                '0_ps_w',
                '0_ps_h',
                '0_ps_wh',
                'apass_1',
                'apass_1p7',
                'cluster_id_2',
                '0_ppct_w',
                '0_ppct_h',
                '0_ppct_wh',
                '0_pass',
                'poly_id_2'
                ], axis=1, inplace=True)

In [7]:
df_DV.head(10)

      width    height  poly_id  xsect_id       areas     angles
0  2.349751  0.735126        0         0  519.204212  89.872126
1  2.578080  0.630384        0         1  519.204212  89.872126
2  2.561736  0.493670        0         2  519.204212  89.872126
3  2.516337  0.591278        0         3  519.204212  89.872126
4  2.725460  0.413740        0         4  519.204212  89.872126
5  2.846755  0.520546        0         5  519.204212  89.872126
6  2.838229  0.676432        0         6  519.204212  89.872126
7  2.830315  0.640675        0         7  519.204212  89.872126
8  2.501567  0.488077        0         8  519.204212  89.872126
9  2.513548  0.711615        0         9  519.204212  89.872126

In [8]:
df_DV_new = df_DV.rename(columns={'width': 'width_DV',
                                    'height':'height_DV',
                                    '0_ps_w':'0_ps_w_DV',
                                    '0_ps_h':'0_ps_h_DV',
                                    '0_ps_wh':'0_ps_wh_DV',
                                    'poly_id':'Number of Mounding DV'})

In [9]:
df_DV_new

,width_DV,height_DV,Number of Mounding DV,xsect_id,areas,angles
0,2.349751,0.735126,0,0,519.204212,89.872126
1,2.578080,0.630384,0,1,519.204212,89.872126
2,2.561736,0.493670,0,2,519.204212,89.872126
3,2.516337,0.591278,0,3,519.204212,89.872126
4,2.725460,0.413740,0,4,519.204212,89.872126
...,...,...,...,...,...,...
4240,1.627188,0.288919,111,4240,206.525662,90.000000
4241,1.394206,0.362764,111,4241,206.525662,90.000000
4242,1.496285,0.143759,111,4242,206.525662,90.000000
4243,1.326024,0.188820,111,4243,206.525662,90.000000
4244,1.490047,0.128185,111,4244,206.525662,90.000000

In [10]:
df_result = df_model.merge(df_DV_new, on='xsect_id', how = "outer")

In [11]:
df_result

,geometry,width,height,xsect_id,0_ps_w,0_ps_h,0_ps_wh,width_DV,height_DV,Number of Mounding DV,areas,angles
0,LINESTRING (577839.250543423 9695056.416439094...,2.541229,0.779200,0,0.0,0.0,0.0,2.349751,0.735126,0,519.204212,89.872126
1,LINESTRING (577839.3485284888 9695061.41623286...,2.563244,0.688931,1,0.0,0.0,0.0,2.578080,0.630384,0,519.204212,89.872126
2,LINESTRING (577839.516783696 9695066.415869799...,2.449023,0.493669,2,0.0,1.0,0.0,2.561736,0.493670,0,519.204212,89.872126
3,LINESTRING (577839.1117662602 9695071.41678617...,2.740007,0.760149,3,0.0,0.0,0.0,2.516337,0.591278,0,519.204212,89.872126
4,LINESTRING (577839.027948572 9695076.416985698...,2.803825,0.514725,4,0.0,1.0,0.0,2.725460,0.413740,0,519.204212,89.872126
...,...,...,...,...,...,...,...,...,...,...,...,...
4270,NaN,NaN,NaN,3828,NaN,NaN,NaN,2.692527,0.634413,99,424.527847,89.213282
4271,NaN,NaN,NaN,3829,NaN,NaN,NaN,2.749959,0.536179,99,424.527847,89.213282
4272,NaN,NaN,NaN,4210,NaN,NaN,NaN,1.447365,0.215427,110,108.092658,88.578371
4273,NaN,NaN,NaN,4211,NaN,NaN,NaN,1.742790,0.270620,110,108.092658,88.578371
4274,NaN,NaN,NaN,4212,NaN,NaN,NaN,1.087707,0.012632,110,108.092658,88.578371

Analisa perhitungan deviasi w dan h antara model dengan DV

In [12]:
df_result.drop(['geometry',
                #'poly_id',
                #'cluster_id',
                '0_ps_w',
                '0_ps_h',
                '0_ps_wh'
                
               ], axis=1, inplace=True)

In [13]:
df_result.describe().T

,count,mean,std,min,25%,50%,75%,max
width,4251.0,3.017981,0.689457,1.000107,2.561750,3.001788,3.422747,5.603522
height,4251.0,0.532418,0.176951,0.028641,0.411848,0.528189,0.647839,1.197247
xsect_id,4275.0,2117.901287,1223.095789,0.000000,1066.500000,2108.000000,3176.500000,4244.000000
width_DV,4275.0,3.181513,0.791401,1.054059,2.699077,3.124813,3.565522,7.075800
height_DV,4275.0,0.552808,0.178335,0.012632,0.435501,0.547831,0.667727,1.135723
Number of Mounding DV,4275.0,54.484211,32.030730,0.000000,27.000000,54.000000,82.000000,111.000000
areas,4275.0,613.527162,133.769757,108.092658,532.328178,601.055363,678.771342,978.603971
angles,4275.0,89.226582,0.403952,87.638535,89.032616,89.311595,89.457051,90.000000

In [14]:
df_result['deltaWidth'] = df_result['width'] - df_result['width_DV'] #jika diatas 0, maka model lebih besar
df_result['deltaHeight'] = df_result['height'] - df_result['height_DV'] #jika diatas 0, maka model lebih besar
df_result['deltaModel_width in %'] = df_result['deltaWidth'] / df_result['width_DV']*100 
df_result['deltaModel_height in %'] = df_result['deltaHeight'] / df_result['height_DV']*100
df_result['Number of Mounding DV'] = df_result['Number of Mounding DV'] + 1
df_result['xsect_id'] = df_result['xsect_id'] + 1

In [15]:
df_result = df_result.rename(columns={'width': 'width_model',
                                    'height':'height_model'
                                    })

In [16]:
df_result.head(2)

,width_model,height_model,xsect_id,width_DV,height_DV,Number of Mounding DV,areas,angles,deltaWidth,deltaHeight,deltaModel_width in %,deltaModel_height in %
0,2.541229,0.779200,1,2.349751,0.735126,1,519.204212,89.872126,0.191478,0.044073,8.148884,5.995309
1,2.563244,0.688931,2,2.578080,0.630384,1,519.204212,89.872126,-0.014836,0.058546,-0.575463,9.287357

In [17]:
df_result.describe().T

,count,mean,std,min,25%,50%,75%,max
width_model,4251.0,3.017981,0.689457,1.000107,2.561750,3.001788,3.422747,5.603522
height_model,4251.0,0.532418,0.176951,0.028641,0.411848,0.528189,0.647839,1.197247
xsect_id,4275.0,2118.901287,1223.095789,1.000000,1067.500000,2109.000000,3177.500000,4245.000000
width_DV,4275.0,3.181513,0.791401,1.054059,2.699077,3.124813,3.565522,7.075800
height_DV,4275.0,0.552808,0.178335,0.012632,0.435501,0.547831,0.667727,1.135723
Number of Mounding DV,4275.0,55.484211,32.030730,1.000000,28.000000,55.000000,83.000000,112.000000
areas,4275.0,613.527162,133.769757,108.092658,532.328178,601.055363,678.771342,978.603971
angles,4275.0,89.226582,0.403952,87.638535,89.032616,89.311595,89.457051,90.000000
deltaWidth,4251.0,-0.161080,0.619341,-5.323222,-0.233175,-0.061080,0.093866,1.037201
deltaHeight,4251.0,-0.020862,0.093031,-0.623087,-0.068616,-0.002409,0.028756,0.449793
deltaModel_width in %,4251.0,-3.383275,13.980231,-82.425148,-7.132940,-1.912261,3.043192,40.000000
deltaModel_height in %,4251.0,-2.211562,20.036212,-91.073488,-11.895777,-0.447887,5.228581,154.269317

In [19]:
df_result.to_csv('ModelvsDV 3002200.csv')

In [18]:
df1_model_amoutOfMounding.describe().T

,count,mean,std,min,25%,50%,75%,max
poly_id,112.0,55.500000,32.475632,0.000000,27.750000,55.500000,83.250000,111.000000
areas,112.0,606.219974,138.760415,108.092658,524.931614,599.107245,673.450162,978.603971
angles,112.0,89.233331,0.401867,87.638535,89.057268,89.318962,89.462953,90.000000
apass_1,112.0,0.964286,0.186411,0.000000,1.000000,1.000000,1.000000,1.000000
apass_1p7,112.0,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
cluster_id,112.0,54.151786,31.715858,0.000000,27.750000,53.500000,81.250000,109.000000
0_ppct_w,112.0,12.500000,21.275867,0.000000,0.000000,2.600000,13.750000,94.700000
0_ppct_h,112.0,33.500893,17.088585,0.000000,19.975000,36.800000,48.625000,68.400000
0_ppct_wh,112.0,4.374107,9.014750,0.000000,0.000000,0.000000,2.700000,55.300000
0_pass,112.0,0.026786,0.162182,0.000000,0.000000,0.000000,0.000000,1.000000

### Insight

1. Terdapat perbedaan jumlah mounding antara DV dan model sebanyak 36 mounding
2. Pada mounding ID 97 cross sectiong tidak terbaca karena mounding tidak terdeteksi